{% extends 'base.html' %}

{% block head %}
<title>Register</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 class>Login</h1>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <form action="/login" method="POST">
                {{ form.hidden_tag() }}
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
                <br>
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
                <br>
                {{ form.submit(class="btn btn-primary") }}    
            </form>
            <!-- <form action="/login" method="POST">
                <label for="user-username" class="form-label">Username</label>
                <br>
                <input type="text" name="username" id="user-username">
                <br>
                <label for="user-password" class="form-label">Password</label>
                <br>
                <input type="password" name="password" id="user-password">
                <br>
                <input type="submit" name="add user" class="btn btn-primary mt-2">
            </form> -->
        </div>
    </div>
</div>
{% endblock %}